<h1>Create a new cocktail!</h1>

<!-- A user can create a new cocktails => make a form -->
<%= form_for(@cocktail) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<% end %>
