<h1>Cocktail description</h1>

<%= link_to 'Delete', cocktail_path(@cocktail), method: :delete, data: {confirm: "Are you sure?"} %>

<!-- A user can see the details of a given cocktail, with the dose needed for each ingredient -->

<!-- A user can delete a dose that belongs to an existing cocktail => make a delete link that redirects to cocktail index -->

